<div id="client" ng-controller="clientController">
    <div id="profile" class="text-center" ng-init="changeTitle('home')">
        <img id="profile_img" src="{{profile.imgurl}}" class="rounded-circle" />
        <h1 id="profile_name"> {{profile.name}} </h1>
    </div>
    <div id="client-box">
        <div id="client-header">
            <span id="client-title">Invoices</span>
        </div>
        <div class="client-heading ">
            <span class="client-invoice-number-heading">
                        Invoice #
                    </span>
            <span class="client-date-heading">
                        Date
                    </span>
            <span class="client-amount-heading">
                        Amount
                    </span>
        </div>
        <div class="client-row " ng-click="go('invoice?id='+String(invoice.invoiceNumber))" ng-repeat="invoice in invoices">
            <span class="client-invoice-number">
                    {{invoice.invoiceNumber}}
                </span>
            <span class="client-date">
                    {{String(invoice['time-stamp']['year'])+'/'+String(invoice['time-stamp']['month'])+'/'+String(invoice['time-stamp']['date'])}}
                </span>
            <span class="client-row-amount">
                    R{{invoice.total | number:2}}
                </span>
        </div>
    </div>
</div>