<div id="stock-page" ng-controller="productListController">
    <div id="search-panel" class="row">
        <div class="col-sm-1">
            <img id="search-icon" src="assets/icons/search.png" />
        </div>
        <div class="col-sm-11">
            <input id="search-input" ng-model="searchText" type="text" placeholder="Search item">
        </div>
    </div>
    <div id="sell-items" class="text-center ">
        <div class="row item-box " ng-click="go('sell?id='+product['id']+'&qty=1', product)" ng-repeat="product in $parent.$parent.products | filter: searchText">
            <div class="col-sm-3 ">
                <img class="item-img " src="{{product['imgurl']}}">
            </div>
            <div class="col-sm-4 ">
                <div class="item-name ">
                    {{product['name']}}
                </div>
                <div class="item-price ">
                    price: R{{product['s-price']}}
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="item-category ">
                    {{product['category']}}
                </div>
            </div>
        </div>
    </div>
</div>