/**message->*/


/*
    Designed by Tafadzwa Moyo
*/

#chat-messages {
    padding-left: 3.5%;
    padding-right: 2%;
    padding-top: 20px;
}

.chat-message-box {
    background-color: rgba(255, 255, 255, 0.34);
    /*border-radius: 25px;*/
    margin-bottom: 30px;
    padding-top: 7%;
    padding-bottom: 7%;
    text-align: left;
}

%message_shared {
    font-size: 40px;
    margin-right: 10px;
}

.chat-message-content {
    @extend %message_shared;
    color: #dfdfdf;
}

.chat-message-sender {
    @extend %message_shared;
    color: white;
}

.chat-sender-img {
    width: 100px;
}

.chat-sender-img-container {
    margin-left: 10px;
}


/**<-message*/