//used for item-category and item-name
%item-shared-0 {
    font-size: 30px;
}

//used for item-delete and item-save
%item-shared-1 {
    font-size: 25px;
}

.item-box {
    border-bottom: 1px solid #c3c3c3;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: left;
}

.item-category {
    @extend %item-shared-0;
}

.item-delete {
    @extend %item-shared-1
}

.item-img {
    vertical-align: middle;
    width: 100%;
}

.item-name {
    @extend %item-shared-0;
}

.item-price {
    font-size: 25px;
}

.item-save {
    @extend %item-shared-1;
    margin-top: 70px;
}

$item-add-remove-width: 200px;
$item-add-remove-height: 60px;
$item-add-remove-radius: 40px;
$item-add-remove-border-color: #70B80D;
$item-add-remove-bg-color: rgba(255, 255, 255, 0.34);
%item-add-remove-shared {
    border: 2px solid $item-add-remove-border-color;
    display: block;
    float: left;
    height: $item-add-remove-height;
    width: $item-add-remove-width/3;
}

.item-add-remove {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.item-add-remove-left {
    @extend %item-add-remove-shared;
    background-color: $item-add-remove-bg-color;
    border-top-left-radius: $item-add-remove-radius;
    border-bottom-left-radius: $item-add-remove-radius;
}

.item-add-remove-center {
    @extend %item-add-remove-shared;
    background: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
}

.item-add-remove-right {
    @extend %item-add-remove-shared;
    background-color: $item-add-remove-bg-color;
    border-top-right-radius: $item-add-remove-radius;
    border-bottom-right-radius: $item-add-remove-radius;
}

.item-type {
    font-size: 20px;
}