/*
    Designed by Tafadzwa Moyo
*/


/*Body->*/

body {
    background-attachment: fixed;
    background-image: url("/assets/images/bg@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 60px;
    font-family: "Roboto";
}


/**Top nav-bar->*/

#nav-bar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 40px;
    width: 100%;
    top: 0px;
}

#menu_icon {
    width: 80px;
}

#menu_li {
    padding-left: 80px;
    padding-top: 40px;
    grid-column: 1/3;
    grid-row: 1;
    position: fixed;
}

#page-title {
    font-size: 60px;
    padding-left: 50px;
    grid-column: 3/13;
    grid-row: 1;
}


/**<-Top nav-bar*/

@import 'top-panel';
@import 'overlay-menu';

/** profile->*/

#profile {
    padding-top: 100px;
}

#profile_img {
    width: 300px;
}

#profile_name {
    padding-top: 50px;
    font-size: 60px;
}

#profile_role {
    font-size: 40px;
}


/**<-profile*/


/** Main-->*/

#main {
    margin-bottom: 200px;
    width: 100%;
}


/**<-Main*/

@import 'message-box';

/** bottom-menu-->*/

#bottom_menu {
    position: fixed;
    background-color: #343637;
    bottom: 0px;
    width: 100%!important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bottom_menu_active {
    background-color: #3c3c3c;
    border-width: 10px 0px;
    border-color: #3c3c3c;
}

.bottom_menu_icon {
    width: 50px;
    margin-top: 15px;
}

.bottom_menu_text {
    font-size: 25px;
    margin-bottom: 15px;
}


/** <--bottom-menu*/

//chat page
@import 'chat-conversation';
@import 'chat-conversation-item';
@import 'chat-page';
@import 'chat-message-box';
//sell page
@import 'payment-thank-you';
@import 'sell-page';
@import 'sell-payment';
@import 'item-box';
//product
@import 'product';
//login
@import 'login-page';
//sales
@import 'sales-page';
//delete
@import 'delete';
//invoice
@import 'invoice';
//client
@import 'client';
//refund
@import 'refund';

/*<-body*/