.payment-thank-you {
    margin-top: 300px;
}

.payment-thank-you-button {
    background-color: #70B80D;
    border-radius: 60px;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 500px;
}

#payment-thank-you-img {
    width: 150px;
}

.payment-thank-you-text-1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-top: 35px;
}

.payment-thank-you-text-2 {
    color: #9B9B9B;
    font-size: 35px;
    margin-top: 45px;
}

.payment-thank-you-text-3 {
    color: #AAAAAA;
    font-size: 30px;
    margin-top: 18px;
}