%sales-shared {
    background-color: rgba(0, 00, 0, 0.5);
    margin: 50px;
}

%sales-summary-titles {
    color: #7e7e7e;
    font-size: 45px;
    font-weight: bold;
}

%sales-summary-amounts {
    font-size: 40px;
}

#sales {
    color: white;
}

#sales-history {
    @extend %sales-shared;
    border-radius: 30px;
    font-size: 30px;
    padding: 50px;
}

.sales-history-line {
    border-bottom: 1px solid #6e6e6e;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}

.sales-history-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.sales-history-row-amount {
    grid-column: 10/11;
}

.sales-history-row-date {
    grid-column: 2/6;
}

#sales-history-title {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 50px;
    border-bottom: 1px solid #6e6e6e;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 50px;
    width: 100%;
}

#sales-history-title span {
    font-size: 30px;
    grid-column: 2/5;
    grid-row: 1;
}

#sales-period {
    @extend %sales-shared;
    border-radius: 30px;
    font-size: 30px;
    grid-template-columns: repeat(12, 1fr);
    margin: 60px;
    padding: 50px;
}

#sales-period input[type='date'] {
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    font-size: 30px;
    grid-column: 7/12;
    width: 300px;
}

#sales-period-text {
    color: #7e7e7e;
    font-size: 50px;
    grid-row: 1;
}

#sales-period-start {
    grid-row: 2;
}

#sales-period-start {
    grid-row: 3;
}

#sales-summary {
    @extend %sales-shared;
    border-radius: 30px;
    padding: 50px;
}

.sales-summary-profit-amount {
    @extend %sales-summary-amounts;
    padding-bottom: 45px;
    border-bottom: 1px solid white;
}

.sales-summary-profit-title {
    @extend %sales-summary-titles;
}

.sales-summary-revenue-amount {
    @extend %sales-summary-amounts;
}

.sales-summary-revenue-title {
    @extend %sales-summary-titles;
    padding-top: 45px;
}