#delete {
    margin-top: 300px;
    padding: 50px;
}

.delete-no-button {
    background-color: #70B80D;
    border-radius: 60px;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 500px;
}

.delete-yes-button {
    background-color: rgb(255, 0, 0);
    border-radius: 60px;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 500px;
}

#delete-img {
    width: 150px;
}

.delete-text {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-top: 35px;
}