/*
    Designed by Tafadzwa Moyo
*/


/*Body->*/
body{
    background-attachment: fixed;
    background-image: url("/assets/images/bg@2x.png");                  
    background-repeat:   no-repeat;
    background-size:     cover;   
    color:  white;
    font-size: 60px;
    font-family: "Roboto";
}
/**Top nav-bar->*/
#nav-bar{
    padding-top: 40px;
    //display: none;
}
#menu_icon{
    width:80px;
    
}
#menu_li{
    padding-left: 80px;
}
#page-title{
    font-size: 60px;
    padding-left: 50px;
    padding-top: 5px;
}
/**<-Top nav-bar*/
@import 'top-panel';
@import 'overlay-menu';

/** profile->*/
#profile{
    padding-top: 100px;
}
#profile_img{
    width:300px;
}
#profile_name{
    padding-top: 50px;
    font-size: 60px;
}
#profile_role{
    font-size: 40px;
}
/**<-profile*/
/** Main-->*/
#main{
    margin-bottom:200px;
    width:100%;
}
@import 'target-page';
/**<-Main*/
@import 'message-box';
/** bottom-menu-->*/
#bottom_menu {
    position:fixed;
    background-color:#343637;
    bottom:0px;
    width:100%!important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.bottom_menu_active{
    background-color: #3c3c3c;
    border-width: 10px 0px;
    border-color: #3c3c3c;
}
.bottom_menu_icon{
    width: 50px;
    margin-top:15px;
}
.bottom_menu_text{
    font-size: 25px;
    margin-bottom: 15px;
}
/** <--bottom-menu*/

//chat page
@import 'chat-page';
@import 'chat-message-box';
/*<-body*/