/*
    Designed by Tafadzwa Moyo
*/
/*Body->*/
body {
  background-attachment: fixed;
  background-image: url("/assets/images/bg@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 60px;
  font-family: "Roboto";
}

/**Top nav-bar->*/
#nav-bar {
  padding-top: 40px;
}

#menu_icon {
  width: 80px;
  position: fixed;
}

#menu_li {
  padding-left: 80px;
}

#page-title {
  font-size: 60px;
  padding-left: 50px;
  padding-top: 5px;
}

/**<-Top nav-bar*/
.top-panel {
  padding-top: 40px;
}

.top-panel-icon {
  width: 80px;
}

.top-panel-left-icon {
  margin-left: 80px;
}

.top-panel-right-icon {
  margin-right: 80px;
}

#overlay_menu {
  background-color: #fafbfc;
  color: #707070;
  display: none;
  font-size: 40px;
  height: 100%;
  position: fixed;
  top: 0;
  width: 85%;
  z-index: 99;
}

.overlay-menu-icon {
  /*margin-left: 50px;*/
  width: 60px;
}

.overlay-menu-item {
  margin-top: 60px;
  margin-bottom: 60px;
}

/** profile->*/
#profile {
  padding-top: 100px;
}

#profile_img {
  width: 300px;
}

#profile_name {
  padding-top: 50px;
  font-size: 60px;
}

#profile_role {
  font-size: 40px;
}

/**<-profile*/
/** Main-->*/
#main {
  margin-bottom: 200px;
  width: 100%;
}

/**<-Main*/
/**message->*/
/*
    Designed by Tafadzwa Moyo
*/
#messages {
  padding-left: 3.5%;
  padding-right: 2%;
  padding-top: 20px;
}

.message_box {
  background-color: white;
  /*border-radius: 25px;*/
  margin-bottom: 30px;
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: left;
}

.chat-message-sender, .chat-message-content, .message_sender, .message_content {
  font-size: 40px;
  margin-left: 10px;
  margin-right: auto;
}

.message_content {
  color: #757575;
}

.message_sender {
  color: black;
}

.sender_img {
  width: 100px;
}

.sender_img_container {
  margin-left: auto;
  margin-right: 10px;
}

/**<-message*/
/** bottom-menu-->*/
#bottom_menu {
  position: fixed;
  background-color: #343637;
  bottom: 0px;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bottom_menu_active {
  background-color: #3c3c3c;
  border-width: 10px 0px;
  border-color: #3c3c3c;
}

.bottom_menu_icon {
  width: 50px;
  margin-top: 15px;
}

.bottom_menu_text {
  font-size: 25px;
  margin-bottom: 15px;
}

/** <--bottom-menu*/
#chat-conversation {
  height: 100%;
}

#chat-conversation-input-box {
  background: white;
  bottom: 150px;
  color: #6E6E6E;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(12, 1fr);
  position: absolute;
  vertical-align: bottom;
  width: 100%;
}

#chat-conversation-input-icon {
  display: inline-block;
  grid-column: 11/12;
  grid-row: 1;
  margin-top: 20px;
  width: 60px;
}

#chat-conversation-input-plus-sign {
  grid-column: 2/3;
  grid-row: 1;
  margin-top: 5px;
  width: 60px;
}

#chat-conversation-input-text {
  border: 0;
  font-size: 40px;
  grid-row: 1;
  grid-column: 3/11;
  width: 100;
}

#chat-conversation-input-text:focus {
  outline: none;
}

.chat-conversation-item {
  background: white;
  border-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  max-width: 600px;
}

.chat-conversation-item-text {
  color: black;
  font-size: 40px;
  padding: 40px;
}

#search-panel {
  font-size: 40px;
  color: #c3c3c3;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid #c3c3c3;
}

#search-icon {
  width: 30px;
}

#search-input {
  width: 100%;
  background: transparent;
  color: #c3c3c3;
  border: 0;
}

#search-input:focus {
  outline: none !important;
  border: 0px;
  box-shadow: 0;
}

/**message->*/
/*
    Designed by Tafadzwa Moyo
*/
#chat-messages {
  padding-left: 3.5%;
  padding-right: 2%;
  padding-top: 20px;
}

.chat-message-box {
  background-color: rgba(255, 255, 255, 0.34);
  /*border-radius: 25px;*/
  margin-bottom: 30px;
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: left;
}

.chat-message-sender, .chat-message-content, .message_content, .message_sender {
  font-size: 40px;
  margin-right: 10px;
}

.chat-message-content {
  color: #dfdfdf;
}

.chat-message-sender {
  color: white;
}

.chat-sender-img {
  width: 100px;
}

.chat-sender-img-container {
  margin-left: 10px;
}

/**<-message*/
.payment-thank-you {
  margin-top: 300px;
}

.payment-thank-you-button {
  background-color: #70B80D;
  border-radius: 60px;
  font-size: 40px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 500px;
}

#payment-thank-you-img {
  width: 150px;
}

.payment-thank-you-text-1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-top: 35px;
}

.payment-thank-you-text-2 {
  color: #9B9B9B;
  font-size: 35px;
  margin-top: 45px;
}

.payment-thank-you-text-3 {
  color: #AAAAAA;
  font-size: 30px;
  margin-top: 18px;
}

.sell-add-item {
  border: 2px solid;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.sell-add-item-text, .sell-add-item-sign {
  display: block;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

#sell-items {
  margin-left: 50px;
  margin-right: 50px;
}

.sell-vat, .sell-total, .sell-subtotal {
  margin-top: 20px;
}

.sell-subtotal {
  font-size: 30px;
}

.sell-total {
  font-size: 35px;
}

.sell-vat {
  font-size: 30px;
}

.sell-totals {
  margin-top: 50px;
  margin-left: 150px;
}

.sell-price-title {
  text-align: right;
}

.sell-price-value {
  text-align: left;
}

.sell-payment-button {
  background-color: #70B80D;
  border-radius: 60px;
  font-size: 40px;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 500px;
}

#sell-acount-type {
  border-bottom: 1px solid #c3c3c3;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 100px;
}

.sell-email-address {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 200px;
}

#sell-email-address-input {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  color: white;
  font-size: 30px;
}

#sell-email-address-input::-webkit-input-placeholder {
  /* Chrome */
  color: white;
}

#sell-email-address-input:focus {
  outline: none;
}

.sell-payment-option > input[type=radio] {
  width: 20px;
  height: 20px;
}

.sell-payment-heading {
  font-size: 40px;
  margin-bottom: 40px;
}

.sell-payment-option {
  font-size: 30px;
  margin-bottom: 30px;
}

.item-name, .item-category {
  font-size: 30px;
}

.item-save, .item-delete {
  font-size: 25px;
}

.item-box {
  border-bottom: 1px solid #c3c3c3;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: left;
}

.item-img {
  vertical-align: middle;
  width: 100%;
}

.item-price {
  font-size: 25px;
}

.item-save {
  margin-top: 70px;
}

.item-add-remove-right, .item-add-remove-center, .item-add-remove-left {
  border: 2px solid #70B80D;
  display: block;
  float: left;
  height: 60px;
  width: 66.6666666667px;
}

.item-add-remove {
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}

.item-add-remove-left {
  background-color: rgba(255, 255, 255, 0.34);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.item-add-remove-center {
  background: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
}

.item-add-remove-right {
  background-color: rgba(255, 255, 255, 0.34);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.item-type {
  font-size: 20px;
}

#product {
  padding: 40px;
  margin: auto;
  margin-top: 30px;
  margin: auto;
}

#product-category {
  margin-top: 30px;
  font-size: 40px;
}

#product-color {
  font-size: 30px;
}

#product-cost-price {
  color: white;
  font-size: 40px;
}

#product-description {
  font-size: 35px;
  font-weight: normal;
  width: 100%;
}

#product-image {
  margin-bottom: 60px;
  margin-top: 60px;
  width: 100%;
}

.product-textarea, .product-input {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 0;
}

.product-input {
  display: inline;
}

#product-new-image {
  display: none;
  height: 0;
  visibility: hidden;
  width: 0;
}

.product-input:focus {
  outline: 0;
}

#product-quantity {
  margin-top: 30px;
  font-size: 40px;
}

#product-quantity input {
  width: 100px;
}

.product-save-button {
  background-color: #70B80D;
  border-radius: 60px;
  font-size: 40px;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 500px;
}

#product-selling-price {
  color: white;
  font-size: 40px;
}

.product-textarea {
  width: 100%;
  height: 400px;
}

.product-textarea:focus {
  outline: 0;
}

#product-title {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

#product-top {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#product-top-left {
  grid-column: 1/7;
  grid-row: 1;
}

#product-top-left input {
  width: 100%;
}

#product-top-right {
  grid-column: 7/11;
  grid-row: 1;
}

#product-top-right input {
  width: 80px;
}

#login-username, #login-password {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 700px;
}

#login-username img, #login-password img {
  width: 30px;
}

#login-username-input, #login-password-input {
  background: rgba(0, 0, 0, 0);
  border: 0px;
  color: white;
  font-size: 40px;
  font-weight: normal;
  margin-left: 50px;
  vertical-align: middle;
}

#login {
  margin-top: 450px;
  padding: 30px;
}

.login-button {
  background-color: #1760fd;
  border-radius: 20px;
  font-size: 40px;
  height: 120px;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 700px;
}

#login-forgot-password {
  margin-right: 120px;
  color: #adadad;
}

#login-forgot-password-text {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: right;
  width: 100%;
}

#login-text {
  font-size: 50px;
  margin-bottom: 50px;
}

#sales-summary, #sales-history {
  background-color: white;
  margin: 50px;
}

.sales-summary-revenue-title, .sales-summary-profit-title {
  color: #2a4aff;
  font-size: 45px;
  font-weight: bold;
}

.sales-summary-revenue-amount, .sales-summary-profit-amount {
  font-size: 40px;
}

#sales {
  color: #6e6e6e;
}

#sales-history {
  border-radius: 30px;
  padding: 50px;
}

.sales-history-line {
  border-bottom: 1px solid #6e6e6e;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

.sales-history-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.sales-history-row-amount {
  font-size: 40px;
  grid-column: 10/11;
}

.sales-history-row-date {
  font-size: 40px;
  grid-column: 3/7;
}

#sales-history-title {
  font-size: 30px;
}

#sales-summary {
  border-radius: 60px;
  padding: 50px;
}

.sales-summary-profit-amount {
  padding-bottom: 45px;
  border-bottom: 1px solid #2a4aff;
}

.sales-summary-revenue-title {
  padding-top: 45px;
}

#delete {
  margin-top: 300px;
  padding: 50px;
}

.delete-no-button {
  background-color: #70B80D;
  border-radius: 60px;
  font-size: 40px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 500px;
}

.delete-yes-button {
  background-color: red;
  border-radius: 60px;
  font-size: 40px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 500px;
}

#delete-img {
  width: 150px;
}

.delete-text {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-top: 35px;
}

/*<-body*/
