//overlay-menu->

//    Designed by Tafadzwa

#overlay_menu{
    display: none;
    position: fixed;
    top: 0;
    height:100%;
	width:90%;
    background-color: #fafbfc;
	z-index:99;
}
.overlay-menu-item-content{
    
}
.overlay-menu-item{
    
}
.overlay-menu-item-link{
    
}

//<-overlay-menu
