#product {
    padding: 40px;
    margin-top: 30px;
}

#product-color {
    font-size: 30px;
}

#product-cost-price {
    color: white;
    font-size: 40px;
}

#product-description {
    font-size: 35px;
    font-weight: normal;
    width: 100%;
}

#product-image {
    margin-bottom: 60px;
    margin-top: 60px;
    width: 100%;
}

.product-save-button {
    background-color: #70B80D;
    border-radius: 60px;
    font-size: 40px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 500px;
}

#product-selling-price {
    color: white;
    font-size: 40px;
}

#product-top-right {
    grid-column: 7 / 11;
    grid-row: 1;
}

#product-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

#product-top {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#product-top-left {
    grid-column: 1 / 7;
    grid-row: 1;
}

#product-quantity {
    margin-top: 30px;
    font-size: 50px;
}