<div id="invoice" ng-controller="invoiceController">
    <div id="invoice-refund-notice" ng-show="refund">
        <div id="invoice-refund-notice-heading">Refund Notice</div>
        To refund a customer change the quanity of the items he would liek a refund for. E.g. if the customer bought 10 watches and would like to return 4, change the quanity of the items on the invoice to 6 and then save he invoice.
    </div>
    <div id="invoice-box">
        <div id="invoice-header">
            <span id="invoice-title">Invoice</span>
            <span id="invoice-number">#{{invoice.invoiceNumber}}</span>
            <span id="invoice-date">{{String(invoice['time-stamp']['year'])+'/'+String(invoice['time-stamp']['month'])+'/'+String(invoice['time-stamp']['date'])}}</span>
        </div>
        <div class="invoice-heading ">
            <span class="invoice-name-heading">
                    Name
                </span>
            <span class="invoice-qty-heading">
                    Qty
                </span>
            <span class="invoice-amount-heading">
                    Price
                </span>
        </div>
        <div class="invoice-row " ng-repeat="(key, value) in invoice.items">
            <span class="invoice-row-name">
                {{invoice.items[key].name}}
            </span>

            <span class="invoice-row-qty">
                <input id="invoice-row-qty-input" ng-change="setSubTotal()" ng-show="refund" value='{{invoice.items[key].qty}}' ng-model='invoice.items[key].qty' />
                <span ng-show="!refund" >{{invoice.items[key].qty}}</span>
            </span>
            <span class="invoice-row-amount">
                R{{invoice.items[key]['qty']*invoice.items[key]['s-price']}}
            </span>
        </div>
        <div class="invoice-totals">
            <div class="invoice-row">
                <div class="invoice-row-name">
                    Subtotal:
                </div>
                <div class="invoice-row-amount">
                    R{{invoice.subtotal | number : 2}}
                </div>
            </div>
            <div class="invoice-row">
                <div class="invoice-row-name">
                    VAT:
                </div>
                <div class="invoice-row-amount">
                    R{{invoice.subtotal*0.15 | number : 2}}
                </div>
            </div>
            <div class="invoice-row">
                <div class="invoice-row-name">
                    Total:
                </div>
                <div class="invoice-row-amount">
                    R{{invoice.subtotal*1.15 | number : 2}}
                </div>
            </div>
        </div>
    </div>
    <div class="invoice-save-button text-center" ng-show="refund" ng-click="save()">
        save
    </div>
</div>