<div id="sales" ng-controller="salesController">
    <div id='sales-period' class="text-center">
        <p id="sales-period-text">Select time period</p>
        Start: <input id='sales-period-start' type="date" ng-model='start' ng-change="changeRange()" min="{{mindate}}" max="{{end}}" value='{{mindate}}'> End: <input id='sales-period-end' type="date" ng-model='end' ng-change="changeRange()" min="{{start}}"
            max="{{maxdate}}" value='{{maxdate}}'>

    </div>
    <div id="sales-summary" class="text-center">
        <div class="sales-summary-profit-title">
            Total Profit
        </div>
        <div class="sales-summary-profit-amount">
            R{{profit}}
        </div>
        <div class="sales-summary-revenue-title">
            Total Revenue
        </div>
        <div class="sales-summary-revenue-amount">
            R{{revenue}}
        </div>
    </div>
    <div id="sales-history">
        <div id="sales-history-title">
            <span>Sales History</span>
        </div>
        <div class="sales-history-row " ng-repeat="day in sales_days">
            <span class="sales-history-row-date">
                {{day['time-stamp']}}
            </span>
            <span class="sales-history-row-amount">
                R{{day['amount']}}
            </span>
        </div>
    </div>
</div>