<div id="sell-page" ng-controller="sellController">
    <div id="sell-items" class="text-center ">
        <div class="row item-box" ng-repeat="product in cart">
            <div class="col-sm-3">
                <img class="item-img" src="/assets/images/profile_pic.jpg">
            </div>
            <div class="col-sm-4">
                <div class="item-name">
                    {{product['name']}}
                </div>
                <div class="item-price">
                    R{{product['s-price']}}
                </div>
                <div class="item-add-remove">
                    <div class="item-add-remove ">
                        <div class="item-add-remove-left " ng-click='setQty(product, product["qty"]-1)'>
                            -
                        </div>
                        <div class="item-add-remove-center ">
                            {{product['qty']}}
                        </div>
                        <div class="item-add-remove-right" ng-click='setQty(product, product["qty"]+1)'>
                            +
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="item-category">
                    {{product['category']}}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="item-delete">
                    delete
                </div>
            </div>
        </div>
        <div class="row sell-add-item" ng-click="go('productlist')">
            <div class="col-sm-8 sell-add-item-text">
                Add New Item
            </div>
            <div class="col-sm-4 sell-add-item-sign">
                +
            </div>

        </div>
        <div class="sell-totals">
            <div class="row">
                <div class="col-sm-3 sell-subtotal sell-price-title">
                    Subtotal:
                </div>
                <div class="col-sm-5 sell-subtotal sell-price-value">
                    R{{subtotal}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 sell-vat sell-price-title">
                    VAT:
                </div>
                <div class="col-sm-5 sell-vat sell-price-value">
                    R{{subtotal*.15}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 sell-total sell-price-title">
                    Total:
                </div>
                <div class="col-sm-5 sell-total sell-price-value">
                    R{{subtotal*1.15}}
                </div>
            </div>
        </div>
        <div class="sell-payment-button text-center" ng-click="go('payment')">
            Proceed to Payment
        </div>
    </div>
</div>